<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
<title>Movie List</title>
<link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>
	<article>
		<header id="header">
			<h2>Movie List</h2>

			<table id="logout">
				<tr>
					<td><a href="javascript: document.logoutForm.submit()"
						role="menuitem"> Logout</a></td>
					<td>
						<form name="logoutForm" th:action="@{/logout}" method="post"
							th:hidden="true">
							<input type="submit" value="Sign Out" />
						</form>
					</td>
				</tr>
			</table>

		</header>
		<section id="movieListSection">
			<div id="content" class="container">
				<div th:if="${not #lists.isEmpty(movies)}">
					<table class="table table-striped">
						<tr>
							<th>Movie Name</th>
							<th>Good</th>
							<th>Bad</th>
						</tr>
						<tr th:each="movie : ${movies}">
							<td th:text="${movie.name}">Name</td>
							<td><a id="upvoteLink" th:text="${movie.goodCount}"
								th:href="${ '/movies/' + movie.id +'/upvote'}">UpVote</a></td>
							<td><a id="downvoteLink" th:text="${movie.badCount}"
								th:href="${'/movies/' + movie.id +'/downvote'}">DownVote</a></td>
						</tr>
					</table>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<form id="addMovieForm">
						<!-- <form action="#" th:action="@{/movies}" method="post"
						th:object="${movie}"> -->
						<table>
							<tr>
								<td><label>Add Movie</label></td>
								<td><input type="text" id="movieName"/><br /></td>
								<td>
									<button id="addButton" type="submit">Add</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</section>
	</article>

	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="scriptfile.js"></script>
</body>
</html>